<% content_for :sidebar do %>
  <%= render :partial => 'wiki/sidebar' %>
<% end %>

<% if @link_pages.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<ul class="wiki_links">
<% @link_pages.sort.each do |title| %>
<li><%= link_to title.tr('_', ' ').html_safe,
                {:controller => 'wiki', :action => 'show', :id => title} %></li>
<% end %>
</ul>
