<h2><%= l(:label_links_to, :value => @page.pretty_title) %></h2>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<ul>
<% @link_pages.each do |l| %>
<li><%= link_to l[:pretty], {:controller => 'wiki', :action => 'show', :id => l[:ugly]} %></li>
<% end %>
</ul>
