<h2><%= l(:label_orphan) %></h2>

<% content_for :sidebar do %>
  <%= render :partial => 'wiki/sidebar' %>
<% end %>

<% if @link_pages.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<ul class="wiki_links">
<% @link_pages.each do |l| %>
<li><%= link_to l[:pretty].html_safe, {:controller => 'wiki', :action => 'show', :id => l[:ugly]} %></li>
<% end %>
</ul>
